<div class="card">
  <div class="card-content">
    <h2 class="title is-5 mb-4">
      <span class="icon-text">
        <span class="icon has-text-primary">
          <i class="mdi mdi-magnify"></i>
        </span>
        <span>Buscar Alumno</span>
      </span>
    </h2>
    
    <div class="field">
      <label class="label">Cédula del Alumno</label>
      <div class="control has-icons-left">
        <input class="input" type="text" id="cedula" placeholder="Ingrese la cédula">
        <span class="icon is-left">
          <i class="mdi mdi-card-account-details"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary" id="searchBtn">
          <span class="icon">
            <i class="mdi mdi-magnify"></i>
          </span>
          <span>Buscar</span>
        </button>
      </div>
    </div>

    <div id="results"></div>
  </div>
</div>
